<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose Role</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>

<header>
        <div class="container">
            <h1 class="logo">Gamehub</h1>
            <img src="logo.png" class="logo1" alt="" >
            <nav>
                <ul>
                    <li><a href="#home" class="super-button">Home</a></li>
                    <li><a href="#deals" class="super-button">Deals</a></li>
                    <li><a href="#deals" class="super-button">Shop Now</a></li>
                    <li><a href="#contact" class="super-button">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

<div class="profile-container" style="margin-top:150px; justify-content:center;">
    <div class="card" style="width:400px;">
        <h2 style="color:#00ff88; margin-bottom:20px;">Choose Your Role</h2>

        <a href="login_client.php" class="super-button" style="width:100%; margin-bottom:20px;">
            Client Login
        </a>

        <a href="signup_client.php" class="super-button" style="width:100%; margin-bottom:20px;">
            Client Sign Up
        </a>

        <a href="login_admin.php" class="super-button" style="width:100%;">
            Admin Login
        </a>
    </div>
</div>
 
</body>
</html>
